name: CI
on: [push, pull_request]
jobs:
  test:
    name: 'Test Suite'
    strategy:
      matrix:
        ruby: [3.2.8, 3.3.8, 3.4.4, 3.5, 4.0]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bin/rspec
  lint:
    name: 'Rubocop'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.4
          bundler-cache: true
      - run: bin/rubocop